body {
  color: #fff;
  background-color: hsl(233, 47%, 7%);
}

body, h1, h6, p, ul, li, span, a {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
}

ul, li {
  list-style: none;
}

img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 0 8px 8px 0;
  filter: opacity(0.5) drop-shadow(0 0 0 darkorchid);
}